@import 'tailwindcss';

/* Required by all components */
@import '../../vendor/filament/support/resources/css/index.css';

/* Required by actions and tables */
@import '../../vendor/filament/actions/resources/css/index.css';

/* Required by actions, forms and tables */
@import '../../vendor/filament/forms/resources/css/index.css';

/* Required by actions and infolists */
@import '../../vendor/filament/infolists/resources/css/index.css';

/* Required by notifications */
@import '../../vendor/filament/notifications/resources/css/index.css';

/* Required by actions, infolists, forms, schemas and tables */
@import '../../vendor/filament/schemas/resources/css/index.css';

/* Required by tables */
@import '../../vendor/filament/tables/resources/css/index.css';

/* Required by widgets */
@import '../../vendor/filament/widgets/resources/css/index.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/**/*.blade.php';
@source '../**/*.js';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* changed the behavior of dark: (default: based on prefers-color-scheme) to work based on the presence of the .dark parent class */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;

    --font-heading: var(--font-heading, 'Inter', sans-serif);

    --color-primary-50: var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);
    --color-primary-950: var(--color-primary-950);

    --tw-prose-underline: var(--color-primary-200);
    --tw-prose-underline-dark: var(--color-primary-800);

    --scrollbar-thumb-color: var(--color-gray-300);
    --scrollbar-track-color: transparent;
}

@layer theme {
    :root, :host {
        @variant dark {
            --scrollbar-thumb-color: var(--color-gray-700);
            --scrollbar-track-color: var(--color-gray-800);
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

::selection {
    @apply bg-primary-500/20;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-track-color);
    border-radius: 14px;
    border: 3px solid var(--scrollbar-thumb-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    @apply appearance-none;
}

.beautiful-content {
    @apply max-w-none
    prose
    dark:prose-invert
    prose-headings:font-medium
    prose-headings:scroll-mt-4
    prose-img:rounded-xl
    prose-img:block
    prose-img:border
    prose-img:border-black/8
    prose-img:dark:border-white/10
    prose-img:p-[6px]
    prose-img:outline
    prose-img:outline-black/8
    prose-img:dark:outline-white/10
    prose-img:outline-offset-[-6px]
    /*prose-pre:ring-1*/
    /*prose-pre:ring-black/5*/
    /*prose-pre:shadow-md*/
    /*prose-pre:shadow-black/5*/
    prose-strong:font-medium
    prose-code:font-mono
    prose-code:rounded-lg
    prose-code:px-1
    prose-code:py-0.5
    prose-code:font-normal
    prose-code:before:content-['']
    prose-code:after:content-['']
    prose-code:bg-primary-100
    prose-code:text-primary-600
    dark:prose-code:bg-white/20
    dark:prose-code:text-primary-100
    prose-p:first-of-type:mt-0
    prose-p:last-of-type:mb-0
    prose-a:dark:text-primary-300
    prose-a:no-underline
    prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline)]
    prose-a:transition
    prose-a:hover:[--tw-prose-underline-size:6px]
    prose-a:dark:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline-dark)]
    prose-a:dark:hover:[--tw-prose-underline-size:6px]
}

.phiki-wrapper {
    @apply rounded-lg overflow-x-auto;
}

.phiki-wrapper code {
    /* Reset prose styles */
    @apply m-0 p-0 list-none ring-0 border-0 text-inherit bg-inherit;
}

.phiki-wrapper .phiki {
    @apply m-0 text-sm;
}

.toc-link {
    @apply text-gray-400 no-underline hover:text-gray-600 mr-1 shadow-none;
}

*:not(.alert-block)>.phiki-wrapper-main {
    @apply
    rounded-xl
    border
    border-black/8
    dark:border-white/10
    p-[5px]
    mb-5
    overflow-hidden;
}
*:not(.alert-block)>.phiki-wrapper-main>.phiki {
    @apply
    ring
    ring-black/8
    dark:ring-white/10;
}

.phiki {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply
    p-6
    rounded-lg
    text-base
    font-normal
    overflow-x-auto;
}

.alert-block>.phiki-wrapper-main {
    @apply rounded-lg p-0 shadow-md shadow-black/5 ring-1 ring-black/5;
}
.alert-block>.phiki-wrapper-main>.phiki {
    @apply rounded-lg;
}

.alert-block-tip {
    --tw-prose-underline: var(--color-purple-200);
    --tw-prose-underline-dark: var(--color-purple-800);
}
.alert-block-warning {
    --tw-prose-underline: var(--color-yellow-200);
    --tw-prose-underline-dark: var(--color-yellow-800);
}
.alert-block-danger {
    --tw-prose-underline: var(--color-red-200);
    --tw-prose-underline-dark: var(--color-red-800);
}
.alert-block-info {
    --tw-prose-underline: var(--color-sky-200);
    --tw-prose-underline-dark: var(--color-sky-800);
}

.alert-block-tip code:where(:not(.phiki, .phiki *)) {
    @apply bg-purple-600/10! text-inherit!;
}
.alert-block-warning code:where(:not(.phiki, .phiki *)) {
    @apply bg-yellow-600/10! text-inherit!;
}
.alert-block-danger code:where(:not(.phiki, .phiki *)) {
    @apply bg-red-600/10! text-inherit!;
}
.alert-block-info code:where(:not(.phiki, .phiki *)) {
    @apply bg-sky-600/10! text-inherit!;
}
code:where(.phiki, .phiki *) {
    @apply m-0 p-0 list-none ring-0 border-0 text-inherit bg-inherit;
}


.fi-fo-markdown-editor.fi-disabled {
    min-height: 120px;
}

.colored {
    @apply text-primary-600;
}

.menu-icon {
    @apply size-6 text-gray-600 dark:text-gray-400 relative cursor-pointer place-self-center;

    .menu-icon__checkbox {
        -webkit-touch-callout: none;
        @apply block w-full h-full cursor-pointer z-[2] absolute opacity-0;
    }
    div {
        @apply w-6 m-auto absolute top-0 right-0 left-0 bottom-0 h-3;
    }
    span {
        @apply bg-gray-600 dark:bg-gray-400;
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

        &:first-of-type {
            top: 0;
        }
        &:last-of-type {
            bottom: 0;
        }
    }
    &.active,
    .menu-icon__cheeckbox:checked + div {
        span {
            &:first-of-type {
                transform: rotate(45deg);
                top: 5px;
            }
            &:last-of-type {
                transform: rotate(-45deg);
                bottom: 5px;
            }
        }
    }

    &.active:hover span:first-of-type,
    &.active:hover span:last-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
        @apply w-6;
    }
}
