@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../phiki.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/theme-selector.blade.php';
@source '../../../../resources/views/blocks/**/*';
@source '../../../../resources/views/components/logo.blade.php';
@source '../../../../vendor/awcodes/palette/resources/**/*.blade.php';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
@source '../../../../vendor/charlieetienne/filament-font-picker/resources/**/*.blade.php';

code {
    @apply
    font-mono
    rounded-lg
    px-1
    py-0.5
    font-normal
    before:content-['']
    after:content-['']
    bg-primary-100
    text-primary-600
    dark:bg-white/20
    dark:text-primary-100
}

.alert-block-tip code:where(:not(.phiki, .phiki *)) {
    @apply bg-purple-600/10! text-inherit!;
}
.alert-block-warning code:where(:not(.phiki, .phiki *)) {
    @apply bg-yellow-600/10! text-inherit!;
}
.alert-block-danger code:where(:not(.phiki, .phiki *)) {
    @apply bg-red-600/10! text-inherit!;
}
.alert-block-info code:where(:not(.phiki, .phiki *)) {
    @apply bg-sky-600/10! text-inherit!;
}
code:where(.phiki, .phiki *) {
    @apply m-0 p-0 list-none ring-0 border-0 text-inherit bg-inherit;
}
.phiki {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply rounded-lg p-6 text-base shadow-md shadow-black/5 ring-1 ring-black/5 font-normal overflow-x-auto mb-5;
}
.alert-block {
    :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
}
.alert-block {
    & :is(:where(p):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
        &:first-of-type {
            margin-top: calc(var(--spacing) * 0);
        }
    }
}
