@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../phiki.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/blocks/**/*';
@source '../../../../resources/views/components/logo.blade.php';
@source '../../../../vendor/awcodes/palette/resources/**/*.blade.php';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

code:where(:not(.fi-not-prose, .fi-not-prose *)) {
    @apply
    font-mono
    rounded-lg
    px-1
    py-0.5
    font-normal
    before:content-['']
    after:content-['']
    bg-primary-100
    text-primary-600
    dark:bg-white/20
    dark:text-primary-100
}

.alert-block-tip code {
    @apply bg-purple-600/10! text-inherit!;
}
.alert-block-warning code {
    @apply bg-yellow-600/10! text-inherit!;
}
.alert-block-danger code {
    @apply bg-red-600/10! text-inherit!;
}
.alert-block-info code {
    @apply bg-sky-600/10! text-inherit!;
}
